html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  padding: 0 1rem;
}

header nav a.active {
  background: darkgray;
  color: white;
}
