html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav a {
  text-decoration: none;
  padding: 0 1rem;
}

header nav a.active {
  background: darkgray;
  color: white;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

.map-container {
  height: 300px;
  width: 300px;
}
