@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
  h1 {
    font-family: "Lobster Two", "Open Sans", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav a {
  text-decoration: none;
  padding: 0 1rem;
}

header nav a.active {
  background: darkgray;
  color: white;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

.map-container {
  height: 300px;
  width: 300px;
}
